{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}%;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}%;
    background-color: {{ section.settings.section_background_color }};
    {% if section.settings.section_background_img %}
    background-image: url({{ section.settings.section_background_img | img_url: 'master' }});
    {% endif %}
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .section-{{ section.id }}-padding .subheading {
    color: {{ section.settings.subheading_color }}
  }
  .section-{{ section.id }}-padding .main-heading {
    color: {{ section.settings.heading_color }}
  }
  .section-{{ section.id }}-padding .body,
  .section-{{ section.id }}-padding .section-custom-content{
    color: {{ section.settings.content_color }}
  }
  
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}%;
      padding-bottom: {{ section.settings.padding_bottom }}%;
    }
  }

.section-{{ section.id }} .content-wrap{
    display: flex;
}

 

.section-{{ section.id }} .content-wrap .column-1 {
    width: {{ section.settings.column_width1 }}%;
    order: {{ section.settings.swap_column }};
} 

.section-{{ section.id }} .content-wrap .column-2 {
    width: {{ section.settings.column_width2 }}%;
}

.section-{{ section.id }} .content-wrap .column-2 img {
    /* width: 100%; */
}
    
.section-{{ section.id }} .section-heading {
   text-align: {{ section.settings.heading_align }};
}

.section-{{ section.id }} .image-box-wrapper {
    display: flex;
    align-items: baseline !important;
}

.section-{{ section.id }} .image-box-wrapper .image-box-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center; 
}
.section-{{ section.id }} .image-box-wrapper .image-box-item img{
    object-fit: contain;  
}

.section-{{ section.id }} .page-width {
  {% if section.settings.section_width == 'fullwidth' %}
     max-width: 95%;
  {% else %}
     max-width: 87%;
  {% endif %}
} 

  @media screen and (max-width: 999px) {
    .section-{{ section.id }} .content-wrap{
       flex-direction: column;
    }

    .section-{{ section.id }} .content-wrap .column-1 {
       width:  100% ;
    } 
    
    .section-{{ section.id }} .content-wrap .column-2 {
       width: 100%;
    }
    
  } 

/* faq default styling */
.accordion-text-wrapper p {
        text-align: justify;
}
.accordion-item-heading {
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px 20px;
    margin-bottom: 0;
}

.sub-accordion-item:nth-child(odd) {
    border-bottom: 1px solid #697E8C;
}

.sub-accordion-item:nth-child(even) {
    border-bottom: 1px solid #697E8C;
}  

.sub-accordion-heading {
    position: relative;
    padding-right: 20px;
    cursor: pointer;
    margin: 0;
    padding: 20px 0;
}

.sub-accordion-text p{
    margin: 0;
    padding-bottom: 20px;
}

.sub-accordion-content {
    height: 0;
    overflow-x: hidden;
    transition: 500ms;
}
/* javascript styling */

/* wrap to a div with display grid to be animated*/
.accordion-sub-item-wrapper {
    display: grid !important;
    grid-template-rows: 0fr !important;
    transition: 500ms ease;
}
.sub-accordion-content-wrapper {
    display: grid !important;
    grid-template-rows: 0fr !important;
    transition: 500ms ease;
}
.accordion-item {
    margin-bottom: 20px;
}
.accordion-collapsable {
    min-height: 0;
    overflow: hidden;
}
.sub-accordion-collapsable {
    min-height: 0;
      overflow: hidden;
}

.sub-accordion-heading::after {
    content: '';
    background-image: url("https://cdn.shopify.com/s/files/1/0849/7158/5851/files/accordion-sub-item-icon.png?v=1707815621");
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    transition: 300ms ease;      
} 
.accordion-item-heading::after {
    content: '';
    background-image: url("https://cdn.shopify.com/s/files/1/0849/7158/5851/files/accordion-plus.png?v=1707815621");
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    z-index: 10;
    top: 50%;
    transition: ease 500ms;
    transform: translateY(-50%) rotate(0deg);
  
}

.toggled-sub-accordion-item-heading-icon:after {
    transition: 300ms ease;
    transform: translateY(-50%) rotate(180deg);
}

.toggled-accordion-item-heading-icon::after{
    background-image: url("https://cdn.shopify.com/s/files/1/0849/7158/5851/files/accordion-minus.png?v=1707815621");
    transition: ease 500ms;
    transform: translateY(-50%) rotate(360deg);
}

/* add this class when accordion is toggled */
.toggle-accordion-item {
   grid-template-rows: 1fr !important;
   transition: 500ms ease;
   padding: 10px 20px 15px 20px;
}

.toggle-accordion-sub-item {
   grid-template-rows: 1fr !important;
   transition: 500ms ease;
}  

{%- endstyle -%}
<div class="section-wrapper background-sec {{ section.settings.class_name }} section-{{ section.id }}-padding section-{{ section.id }}">
  
  <div class="page-width"> 
    
    <h2 class="section-heading scroll-trigger animate--slide-in">{{ section.settings.section_heading }}</h2>
    <h3 class="section-subheading scroll-trigger animate--slide-in">{{ section.settings.section_subheading }}</h3>
    <div class="content-wrap"> 
        <div class="column-1">
          <div class="faq-wrapper scroll-trigger animate--slide-in">
            {% for block in section.blocks %}
            {%- case block.type -%}
              
            {%- when 'faq_item' -%}

               <div class="accordion-item">
                <h2 class="accordion-item-heading"> {{ block.settings.faq_label }} </h2>
                <div class="accordion-sub-item-wrapper">
                    <div class="accordion-collapsable">
                      {% if block.settings.question1 != blank or  block.settings.answer1 !=blank %}
                        <div class="sub-accordion-item">
                          <h3 class="sub-accordion-heading">{{ block.settings.question1 }}</h3>
                            <div class="sub-accordion-content-wrapper">
                                <div class="sub-accordion-collapsable">
                                    <div class="sub-accordion-text">
                                      {{ block.settings.answer1 }}
                                    </div>
                                </div>  
                            </div>  
                        </div>
                       {% endif %}

                      {% if block.settings.question2 != blank or  block.settings.answer2 !=blank %}
                        <div class="sub-accordion-item">
                          <h3 class="sub-accordion-heading">{{ block.settings.question2 }}</h3>
                            <div class="sub-accordion-content-wrapper">
                                <div class="sub-accordion-collapsable">
                                    <div class="sub-accordion-text">
                                      {{ block.settings.answer2 }}
                                    </div>
                                </div>  
                            </div>  
                        </div>
                       {% endif %}

                      {% if block.settings.question3 != blank or  block.settings.answer3 !=blank %}
                        <div class="sub-accordion-item">
                          <h3 class="sub-accordion-heading">{{ block.settings.question3 }}</h3>
                            <div class="sub-accordion-content-wrapper">
                                <div class="sub-accordion-collapsable">
                                    <div class="sub-accordion-text">
                                      {{ block.settings.answer3 }}
                                    </div>
                                </div>  
                            </div>  
                        </div>
                       {% endif %}

                      
                      {% if block.settings.question4 != blank or  block.settings.answer4 !=blank %}
                        <div class="sub-accordion-item">
                          <h3 class="sub-accordion-heading">{{ block.settings.question4 }}</h3>
                            <div class="sub-accordion-content-wrapper">
                                <div class="sub-accordion-collapsable">
                                    <div class="sub-accordion-text">
                                      {{ block.settings.answer4 }}
                                    </div>
                                </div>  
                            </div>  
                        </div>
                       {% endif %}

                      {% if block.settings.question5 != blank or  block.settings.answer5 !=blank %}
                        <div class="sub-accordion-item">
                          <h3 class="sub-accordion-heading">{{ block.settings.question5 }}</h3>
                            <div class="sub-accordion-content-wrapper">
                                <div class="sub-accordion-collapsable">
                                    <div class="sub-accordion-text">
                                      {{ block.settings.answer5 }}
                                    </div>
                                </div>  
                            </div>  
                        </div>
                       {% endif %}

                       {% if block.settings.question6 != blank or  block.settings.answer6 !=blank %}
                        <div class="sub-accordion-item">
                          <h3 class="sub-accordion-heading">{{ block.settings.question6 }}</h3>
                            <div class="sub-accordion-content-wrapper">
                                <div class="sub-accordion-collapsable">
                                    <div class="sub-accordion-text">
                                      {{ block.settings.answer6 }}
                                    </div>
                                </div>  
                            </div>  
                        </div>
                       {% endif %}
                    
                    </div>
                </div>
              </div>
           
              {%- endcase -%}
          {%- endfor -%} 
          </div> 
        </div>
        <div class="column-2">
          {%- for block in section.blocks -%}
            {%- case block.type -%}

              {%- when 'column_image' -%}
                  <div class="column-image-wrap"> 
                  <img class="img-responsive column-image" src="{{block.settings.column_image | img_url: 'master' }}" alt="{{block.settings.column_image.alt}}" width="{{block.settings.column_image.width}}" height="{{block.settings.column_image.height}}">
                  </div>
              {%- when 'heading' -%}
              
              <h2 class="head text-{{ block.settings.head_text_align }} scroll-trigger animate--slide-in">{{block.settings.heading}}</h2>  
          
              {%- when 'sub_heading' -%}
              
              <h3 class="subhead text-{{ block.settings.subhead_text_align }} scroll-trigger animate--slide-in">{{block.settings.sub_heading}}</h3> 
          
              {%- when 'paragraph' -%}
              
               <div class="paragraph text-{{ block.settings.paragraph_text_align }} scroll-trigger animate--slide-in">{{block.settings.paragraph_content}}</div>
              
              {%- when 'button' -%}
              
              <div class="button-wrap d-flex justify-content-{{ block.settings.btn_align }}">
              <button class="default-btn"><a href="{{block.settings.button_link}}">{{block.settings.button_text}}</a></button>
              </div>

              {%- when 'icon_with_heading' -%}

              <div class="image-box-wrapper" {{block.settings.text_style}}" {{block.shopify_attributes}}>
                    {% if block.settings.icon1!= blank or block.settings.icon_heading1 != blank %}
                      <div class="image-box-item">
                        <img class="m-auto img-responsive" src="{% if block.settings.icon1 != blank %} {{block.settings.icon1 | img_url: 'master'}} {% endif %}" alt="{{block.settings.icon1.alt}}" width="{{block.settings.icon1.width}}" height="{{block.settings.icon1.height}}">
                        <h3>{{block.settings.icon_heading1}}</h3>
                      </div>
                    {% endif %}
                    {% if block.settings.icon2 != blank or block.settings.icon_heading2 != blank %}
                      <div class="image-box-item">
                        <img class="m-auto img-responsive" src="{% if block.settings.icon2 != blank %} {{ block.settings.icon2 | img_url: 'master' }} {% endif %}" alt="{{ block.settings.icon2.alt }}" width="{{ block.settings.icon2.width }}" height="{{ block.settings.icon2.height }}">
                       <h3>{{block.settings.icon_heading2}}</h3>
                      </div>
                    {% endif %}
                    {% if block.settings.icon3 != blank or block.settings.icon_heading3 != blank %}
                      <div class="image-box-item">
                        <img class="m-auto img-responsive" src="{% if block.settings.icon3 != blank %} {{block.settings.icon3 | img_url: 'master'}} {% endif %}" alt="{{block.settings.icon3.alt}}" width="{{block.settings.icon3.width}}" height="{{block.settings.icon3.height}}">
                        <h3>{{block.settings.icon_heading3}}</h3>
                      </div>
                    {% endif %}
                    {% if block.settings.icon4 != blank or block.settings.icon_heading4 != blank %}
                      <div class="image-box-item">
                        <img class="m-auto img-responsive" src="{% if block.settings.icon4 != blank %} {{block.settings.icon4 | img_url: 'master'}} {% endif %}" alt="{{block.settings.icon4.alt}}" width="{{block.settings.icon4.width}}" height="{{block.settings.icon4.height}}">
                        <h3>{{block.settings.icon_heading4}}</h3>
                      </div> 
                    {% endif %}  
               </div>
            {%- endcase -%}
            {%- endfor -%}  
        </div>
    </div>
  </div>
</div>

{% schema %}
  {
  "name": "Custom FAQ Section",
  "settings": [
    {
      "type": "text",
      "id": "class_name",
      "label": "Class Name"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "Section Width",
      "options": [
        {
          "value": "fullwidth",
          "label": "fullwidth"
        },
        {
          "value": "boxed",
          "label": "boxed"
        }
      ],
      "default": "fullwidth"
    },
    {
      "type": "image_picker",
      "id": "section_background_img",
      "label": "Section Background Image"
    },
    {
      "type": "color",
      "id": "section_background_color",
      "label": "Section Background Color"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0
    
    }, 
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0
    },
    {
      "type": "text",
      "id": "section_heading",
      "label": "Section Heading"
    },
    {
      "type": "text",
      "id": "section_subheading",
      "label": "Section Sub Heading"
    },
    {
      "type": "select",
      "id": "heading_align",
      "label": "Heading Align",
      "options": [
        {
          "value": "start",
          "label": "start"
        },
        {
          "value": "center",
          "label": "center"
        },
        {
          "value": "end",
          "label": "end"
        }
      ],
      "default": "start",
      "info": "Heading Text Alignment" 
    },
     {
      "type": "select",
      "id": "swap_column",
      "label": "Swap Column",
      "options": [
        {
          "value": "0",
          "label": "Swap Column Right To Left"
        },
        {
          "value": "1",
          "label": "Swap Column Left To Right"
        }
      ],
      "default": "0",
      "info": "Column Swap"
    },
    {
      "type": "range",
      "id": "column_width1",
      "label": "Column Width",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50
    },
    {
      "type": "range",
      "id": "column_width2",
      "label": "Column Width",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50
    },
    {
      "type": "image_picker",
      "id": "side_image",
      "label": "Side Image"
    } 
  ],
  "blocks": [
     {
      "name": "FAQ Item",
      "type": "faq_item",
      "settings": [
        {
          "type": "text",
          "id": "faq_label",
          "label": "FAQ Label"
       
        },
        {
          "type": "text",
          "id": "question1",
          "label": "FAQ Question 1"

        },
        {
          "type": "richtext",
          "id": "answer1",
          "label": "FAQ Answer 1"
        },
        {
          "type": "text",
          "id": "question2",
          "label": "FAQ Question 2"
        },
        {
          "type": "richtext",
          "id": "answer2",
          "label": "FAQ Answer 2"
        },
        {
          "type": "text",
          "id": "question3",
          "label": "FAQ Question 3"
 
        },
        {
          "type": "richtext",
          "id": "answer3",
          "label": "FAQ Answer 3"
        },
        {
          "type": "text",
          "id": "question4",
          "label": "FAQ Question 4"

        },
        {
          "type": "richtext",
          "id": "answer4",
          "label": "FAQ Answer 4"
        },
        {
          "type": "text",
          "id": "question5",
          "label": "FAQ Question 5"

        },
        {
          "type": "richtext",
          "id": "answer5",
          "label": "FAQ Answer 5"
        },
        {
          "type": "text",
          "id": "question6",
          "label": "FAQ Question 6"
  
        },
        {
          "type": "richtext",
          "id": "answer6",
          "label": "FAQ Answer 6"
        } 
      ] 
    },
    {
      "name": "Heading",
      "type": "heading",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Heading"
        },
        {
        "type": "select",
        "id": "head_text_align",
        "label": "Heading Text Align",
        "options": [
          {
            "value": "start",
            "label": "start"
          },
          {
            "value": "center",
            "label": "center"
          },
          {
            "value": "end",
            "label": "end"
          }
        ],
        "default": "start"
       }
        
      ] 
    },
    {
      "name": "Sub heading",
      "type": "sub_heading",
      "settings": [
        {
          "type": "text",
          "id": "sub_heading",
          "label": "Sub Heading",
          "default": "Sub Heading"
        },
        {
        "type": "select",
        "id": "subhead_text_align",
        "label": "Sub Heading Text Align",
        "options": [
          {
            "value": "start",
            "label": "start"
          },
          {
            "value": "center",
            "label": "center"
          },
          {
            "value": "end",
            "label": "end"
          }
        ],
        "default": "start"
       }
      ]
    },
    {
      "name": "Button",
      "type": "button",
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Button Text"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        },
        {
        "type": "select",
        "id": "btn_align",
        "label": "Button Alignment",
        "options": [
          {
            "value": "start",
            "label": "start"
          },
          {
            "value": "center",
            "label": "center"
          },
          {
            "value": "end",
            "label": "end"
          }
        ],
        "default": "start"
       }
      ]
    },
    {
      "name": "Paragraph",
      "type": "paragraph",
      "settings": [
        {
          "type": "richtext",
          "id": "paragraph_content",
          "label": "Paragraph Content"
        },
        {
        "type": "select",
        "id": "paragraph_text_align",
        "label": "Paragraph Text Align",
        "options": [
          {
            "value": "start",
            "label": "start"
          },
          {
            "value": "center",
            "label": "center"
          },
          {
            "value": "end",
            "label": "end"
          }
        ],
        "default": "start"
       }
      ]
    },
    {
      "name": "Column Image",
      "type": "column_image",
      "settings": [
         {
          "type": "image_picker",
          "id": "column_image",
          "label": "Column Image"
        }
      ]
    },
    {
      "name": "Icon with heading",
      "type": "icon_with_heading",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon1",
          "label": "Icon"
        },
        {
          "type": "textarea",
          "id": "icon_heading1",
          "label": "Icon Heading Item 1"
        },
         {
          "type": "image_picker",
          "id": "icon2",
          "label": "Icon"
        },
        {
          "type": "textarea",
          "id": "icon_heading2",
          "label": "Icon Heading Item 2"
        },
         {
          "type": "image_picker",
          "id": "icon3",
          "label": "Icon"
        },
        {
          "type": "textarea",
          "id": "icon_heading3",
          "label": "Icon Heading Item 3"
        },
        {
          "type": "image_picker",
          "id": "icon4",
          "label": "Icon"
        },
        {
          "type": "textarea",
          "id": "icon_heading4",
          "label": "Icon Heading Item 4"
        },
        {
        "type": "range",
        "id": "icon_gap",
        "label": "Icon gaps",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 2
      }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom FAQ Section"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

<script>
    let accordion_item_toggles = document.querySelectorAll(".accordion-item-heading")

    accordion_item_toggles.forEach(accordion_item_toggle => {

        accordion_item_toggle.addEventListener("click" , function(){
            this.classList.toggle("toggled-accordion-item-heading-icon")
            this.nextElementSibling.classList.toggle("toggle-accordion-item")
        })
   
    });

    let sub_accordion_item_toggles = document.querySelectorAll(".sub-accordion-heading")

    sub_accordion_item_toggles.forEach(sub_accordion_item_toggle => {

        sub_accordion_item_toggle.addEventListener("click" , function(){
            this.classList.toggle("toggled-sub-accordion-item-heading-icon")
            this.nextElementSibling.classList.toggle("toggle-accordion-sub-item")
        })

    });
</script>
